/* cormorant-garamond-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/cormorant-garamond-v16-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.dropdown-menu,
nav#navbar-main li.nav-item {
  font-family: 'Cormorant Garamond';
  font-size: 20px;
  font-weight: bold;
}
.navbar-brand {
    font-family: 'Cormorant Garamond', serif;
}
